[submodule "AfterColors.vim"]
	path = home/.vim/bundle/AfterColors.vim
	url = https://github.com/vim-scripts/AfterColors.vim.git
[submodule "a.vim"]
	path = home/.vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bufexplorer"]
	path = home/.vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "grep.vim"]
	path = home/.vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "snipmate.vim"]
	path = home/.vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-togglelist"]
	path = home/.vim/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
  ignore = dirty
[submodule "vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
